* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* 公共属性元素 */
.container {
    width: 1200px;
    margin: 0 auto;
}


/* 头部 */
.header {
    display: flex;
    align-items: center;

}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 110px;
    height: 110px;
}

.logo span{
    width: 210px;
    text-align: center;
    font-size: 14px;
}

.nav {
    display: flex;
    width: 880px;
    height: 110px;
    align-items: center;

}

.nav_ {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul {
    list-style:none;
    display: flex;
    flex: 1;
}

.nav li {
    justify-content: center;
    margin-left: 5px;
    
}

.nav li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.nav li a:hover{
    color: red;
}

.nav_bar {
    background-image: linear-gradient(red,red);
    background-position: center bottom;
    background-size: 0 2px;
    background-repeat: no-repeat;
    transition: .3s;
}

.nav_bar:hover{
    background-size: 100% 2px;
}

.nav div{
    height: 80xpx;
    margin-right:50px ;
}


/* 背景图_1 */
.background_1 {
    height: 300px;
    width: 100%;
}

/* 公司简介 */

.synopsis {
    height: 500px;
    overflow: hidden;
}
.synopsis_one {
    font-size: 14px;
    color: #666666;
    padding-top: 30px;
    padding-left: 10px;
    
}

.synopsis_two {
    padding-top: 20px;
}

.synopsis_three_head {
    display: block;
    font-size: 36px;
    padding: 20px 0px;
}

.synopsis_three_content {
    width: 1200px;
    display: flex;
    position: relative;

}

.three_content_1 span {
    display: block;
    width: 620px;
    text-indent: 2em;
    color: #666666;
    text-indent:2em
}

.three_content_img {
    position: absolute;
    top:-200px;
    right: 0px;
    z-index: -1;
}

.evolution {
    width: 100%;
    height: 900px;
    background-image: url('./image/about/background1.jpg');
}

.evolution_content {
    width: 1200px;
    margin: 0 auto;
}

.evolution_text {
    padding-top: 90px;
}

.evolution_text_red {
    color: rgb(228, 2, 50);
    font-size: 36px;
}

.evolution_text_white {
    font-size: 36px;
    font-weight: 20px;
    color: white;
}

.evolution_background{
    position: relative;
}

.evolution_background_img_text {
    font-size: 16px;
}

.evolution_background_img_text_1{
    font-size: 1.4em;
    position: absolute;
    top: 190px;
    right: 210px;
    color: #666666;

}

.evolution_background_img_text_1-1{
    font-size: 16px;
    position: absolute;
    top: 80px;
    right: 190px;
    color: white;

}


.evolution_background_img_text_2{
    position: absolute;
    top: 376px;
    right: 340px;
    font-size: 1.5em;
    color: #666666;
}

.evolution_background_img_text_2-2{
    width: 250px;;
    position: absolute;
    top: 500px;
    right: 220px;
    font-size: 16px;
    color: white
}

.evolution_background_img_text_3{
    position: absolute;
    top: 166px;
    right: 510px;
    color: #666666;
    font-size: 1.8em;

}

.evolution_background_img_text_3-3 {
    width: 250px;
    font-size: 16px;
    position: absolute;
    top: 40px;
    right: 400px;
    color: white

}
.evolution_background_img_text_4{
    position: absolute;
    top: 426px;
    right: 680px;
    color: #666666;
    font-size: 2em;

}

.evolution_background_img_text_4-4 {
    width: 250px;
    font-size: 16px;
    position: absolute;
    top: 560px;
    right: 580px;
    color: white
}
.evolution_background_img_text_5{
    position: absolute;
    top: 185px;
    right: 910px;
    font-size: 2.5em;
    color: #666666;

}

.evolution_background_img_text_5-5 {
    width: 250px;
    font-size: 16px;
    position: absolute;
    top: 40px;
    right: 810px;
    color: white
}

.evolution_background_img_text_ span {
    color: #e40232;
}

/* 公司荣誉 */
.Information {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    background-color: initial;
}

.Information_title {
    text-align: center;
    padding-top: 100px;
    font-size: 36px;
}

.Information_list {
    width: 100%;    
    height: 600px;
    display: flex;
    align-content:center;
    justify-content: center;
    flex-wrap:wrap
    
}

.Information_item {
    width: 300px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 5px #888888;
}

.Information_item img {
    width: 100%;
    height: 150px;
    background-color: chocolate;
}

.Information_item_text {
    position: absolute;
    bottom: 55px;
    left: 9px;
    color: #fff;
    font-size:13px;
    width: 300px;
    overflow:hidden;
    white-space:nowrap;
}
 
.Information_item a:hover {
    color: red;
}

.Information_item_div {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #878787;
    line-height: 50px;
    font-size: 15px;
}

/* 合作伙伴 */

.partner {
    height: 380px;
    width: 100%;
   background-image: url('./image/background_4.png');
}

.partner_text {
    padding-top: 100px;
    text-align: center;
    font-size: 32px;
    padding-bottom: 20px;
}

.partner_text_img img{
    width: 150px;
    height: 70px;
    padding-right: 10px;
}



/* 尾部 */
.footer {
    background-image: url('./image/background_5.jpg');
    height: 200px;
}

.ft_container{
    display: flex;
}

.Telephone {
    height: 200px;
    width: 200px;
    /* background-color: seagreen; */
    padding-top: 40px;
}

.Telephone_name {
    color: rgb(169, 169, 169);
}

.Telephone_number {
   padding: 15px 30px;
   color: #fff;
   font-weight: bold;
}



.footer_navigation {
    font-size: 14px;
    color: #a9a9a9;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}


.footer_navigation_one {
    padding-left: 150px;
    color: #fff;
}
.footer_navigation_one a {
    margin-left: 20px;
    font-size: 14px;
    color: #d9d9d9;
}

.footer_navigation_two {
    padding-top: 10px;
    text-align: center;
    padding-left: 150px;

}

.footer_navigation_three {
    padding-top: 10px;
    text-align: center;
    padding-left: 150px;
    margin: 10px 0;
}

.code {
    padding-top: 45px;
    padding-left: 200px;
    color: #d9d9d9;
    font-size: 14px;
}
.code span {
    display: block;
    padding-top: 5px;
    text-align: center;
}

#del_a,a:hover{ text-decoration:none; color:white}