* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* 公共属性元素 */
.container {
    width: 1200px;
    margin: 0 auto;
}


/* 头部 */
.header {
    display: flex;
    align-items: center;

}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 110px;
    height: 110px;
}

.logo span{
    width: 210px;
    text-align: center;
    font-size: 14px;
}

.nav {
    display: flex;
    width: 880px;
    height: 110px;
    align-items: center;

}

.nav_ {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul {
    list-style:none;
    display: flex;
    flex: 1;
}

.nav li {
    justify-content: center;
    margin-left: 5px;
    
}

.nav li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.nav li a:hover{
    color: red;
}

.nav_bar {
    background-image: linear-gradient(red,red);
    background-position: center bottom;
    background-size: 0 2px;
    background-repeat: no-repeat;
    transition: .3s;
}

.nav_bar:hover{
    background-size: 100% 2px;
}

.nav div{
    height: 80xpx;
    margin-right:50px ;
}

/* 轮播图 */
.wrap {
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;

}
.list {
    width: 100%;
    height: 400px;
    list-style: none;
    position: relative;
    
}

.item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;

}

.btn {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 370px;
    z-index: 100;
}

#goPre {
    left: 0px;
}

#goNext {
    right: 0px;
}

.item.active {
    z-index: 10;
    opacity: 1;
}

.pointList {
    padding-left: 400px;
    list-style: none;
    position: absolute;
    bottom: 10px;
    right: 950px;
    z-index: 120;
}

.point {
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0,0.4);
    border-radius: 100%;
    float: left;
    margin-right: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255,0.6);
    cursor: pointer;
}

.point.active {
    background-color: rgb(255, 255, 255);
}


/* 关于我们 */
.about_1 {
    display: block;
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
    font-family: fontface__思源宋体Heavy__16__55308188365;
    color: #353535;
}

.about_2 {
    display: block;
    font-size: 16px;
    font-family: 微软雅黑, "Microsoft YaHei";
    color: #666;
    text-indent:2em;
    line-height: 32px;
}

.about_image div {
    float: left;
    width: 400px;
    height: 260px;
    
}

.about_image img {
    
    width: 320px;    
    height: 200px;
    margin-left: 5px;
    margin-top: 10px;
}

.about_image button{
    font-size: 14px;
    background: #f1313a;
    color: #fff;
    height: 40px;
    width: 160px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 40px;
    border-color: seashell;
    display: block
}

/* 产品与服务 */
.product {
    width: 100%;
    height: 750px;
    margin-top: 10px;
}

.product_1 {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    background-image: url('./image/background.jpg');
}

.product_text {
    font-size: 23px;
    display: block;
    text-align: center;    
    padding-top: 120px;
    color: #353535;
}

.producut_image {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.producut_image div {
    position: relative; 
    padding-right: 10px;
}

.producut_img{
    width: 277px;
    height: 480px;
    position: absolute;
    top: -100px;
}

.producut_img1 {
    height: 100px;
    width: 277px;
    background-image: url('./image/background_product.png');
    
}

.producut_img1  span{
    display: block;
    text-align: center;
    color: #ffff;
}

/* 公司发展沿革 */
.development {
    height: 750px;
    width: 100%;
    background-image: url('./image/background_2.jpg');
    position: relative;
}

.development_text{
    margin:  0 auto  ;
    width: 1200px;
    display: block;
    text-align: left;
    font-size: 36px;
} 

.development_image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.evolution {
    padding-top: 80px;
}

.evolution_text {
    position: relative;
    left: 410px;
    bottom: 200px;
    color: #fff;
    display: inline;
}
.evolution_text span{
    display: inline-block;
    margin-right: 80px;
    width: 160px;
}

.evolution_span {
    position: relative;
    left: 380px;
    bottom: 200px;
    color: #fff;
}
.evolution_text_1 {
    position: relative;
    left: 380px;
    bottom: 100px;
    color: #fff;
    display: inline;

}

.evolution_text_1{
    position: absolute;
    bottom: 45px;

}

.evolution_text_1 span{
    margin-right: 180px;
    font-size: 17px;
}
.evolution_text_2{
    position: relative;
    left: 660px;
    bottom: 350px;
    color: #fff;
    width: 200px;
}

/* 动态咨询 */

.Information {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    background-color: initial;
}

.Information_title {
    text-align: center;
    padding-top: 100px;
    font-size: 36px;
}

.Information_list {
    width: 100%;    
    height: 600px;
    display: flex;
    align-content:center;
    justify-content: center;
    flex-wrap:wrap
    
}

.Information_item {
    width: 300px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 5px #888888;
}

.Information_item img {
    width: 100%;
    height: 150px;
    background-color: chocolate;
}

.Information_item_text {
    position: absolute;
    bottom: 55px;
    left: 9px;
    color: #fff;
    font-size:13px;
    width: 300px;
    overflow:hidden;
    white-space:nowrap;
}
 
.Information_item a:hover {
    color: red;
}

.Information_item_div {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #878787;
    line-height: 50px;
    font-size: 15px;
}

/* 合作伙伴 */

.partner {
    height: 380px;
    width: 100%;
   background-image: url('./image/background_4.png');
}

.partner_text {
    padding-top: 100px;
    text-align: center;
    font-size: 32px;
    padding-bottom: 20px;
}

.partner_text_img img{
    width: 150px;
    height: 70px;
    padding-right: 10px;
}



/* 尾部 */
.footer {
    background-image: url('./image/background_5.jpg');
    height: 200px;
}

.ft_container{
    display: flex;
}

.Telephone {
    height: 200px;
    width: 200px;
    /* background-color: seagreen; */
    padding-top: 40px;
}

.Telephone_name {
    color: rgb(169, 169, 169);
}

.Telephone_number {
   padding: 15px 30px;
   color: #fff;
   font-weight: bold;
}



.footer_navigation {
    font-size: 14px;
    color: #a9a9a9;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}


.footer_navigation_one {
    padding-left: 150px;
    color: #fff;
}
.footer_navigation_one a {
    margin-left: 20px;
    font-size: 14px;
    color: #d9d9d9;
}

.footer_navigation_two {
    padding-top: 10px;
    text-align: center;
    padding-left: 150px;

}

.footer_navigation_three {
    padding-top: 10px;
    text-align: center;
    padding-left: 150px;
    margin: 10px 0;
}

.code {
    padding-top: 45px;
    padding-left: 200px;
    color: #d9d9d9;
    font-size: 14px;
}
.code span {
    display: block;
    padding-top: 5px;
    text-align: center;
}